.tjs-story-builder__story-panel .tjs-story-builder__isHidden {
    visibility: hidden;
    display: none;
}
.tjs-story-builder__story-panel, .tjs-story-builder__isHidden {
	visibility: hidden;
	display: none;
}
